<nav class="navbar navbar-dark bg-dark">
  <a href="/">@Prithviraj</a>
    <ul>
      <li><a href="projects">Projects</a></li>
      <li><a href="designs">Designs</a></li>
      <li><a href="aboutme">About me</a></li>
    </ul>
</nav>
