<div class="container">
  <nav class="navbar is-flex-space-between">
    <a class="navbar-links" id="navbar-first-link" href="/"><h1 class="rachel is-5">@Prithvi</h1></a>
    <a class="navbar-links" id="navbar-second-link" href="/aboutme"><h1 class="rachel is-5">Contact/About</h1></a>
  </nav>
</div>
