<nav class="navbar is-flex-space-between">
  <div class="navbar__title">
    <a class="navbar__title__link" href="/">@Prithviraj</a>
  </div>

  <div class="navbar__contact is-flex">
    <div class="navbar__contact__phone">
      <a class="navbar__contact__phone__link" href="#">+91 9831237115</a>
    </div>
    <div class="navbar__contact__email">
      <a class="navbar__contact__email__link" href="#">prithirajmajumder8@gmail.com</a>
    </div>
  </div>

  <ul class="navbar__lists is-flex">
    <li class="navbar__list">
      <a class="navbar__list__link" href="projects">Projects</a>
    </li>
    <li class="navbar__list">
      <a class="navbar__list__link" href="designs">Designs</a>
    </li>
    <li class="navbar__list">
      <a class="navbar__list__link" href="aboutme">About me</a>
    </li>
  </ul>
</nav>
