<div class="container">
  <nav class="navbar is-flex-space-between">
    <a href="/"><h1 class="rachel is-5">@Prithvi</h1></a>
    <a href="/aboutme"><h1 class="rachel is-5">Contact/About</h1></a>
  </nav>
</div>
