<html lang="en">

<head>
  <title>Prithviraj</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  {{> preloader}}
  <div class="container content" id="content" style="height: 100vh;" data-template={{templateData}}>
    {{{body}}}
  </div>
  <script src="main.js"></script>
</body>

</html>
