<html lang="en">

<head>
  <title>Book Face</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div class="container" style="height: 100vh;">
    {{{body}}}
  </div>
</body>

</html>
