$topicBoxOpacity: 0.4;

.navigation-container {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: end;
  }
}

.topic-box {
  width: 60%;
}

#coding-bar {
  height: 40vh;
  opacity: $topicBoxOpacity;
}

#design-bar {
  height: 45vh;
  opacity: $topicBoxOpacity;
}

#random-bar {
  height:35vh;
  opacity: $topicBoxOpacity;
}
