.home {
  padding-top: 6rem;
}

.home__container {
}

.home__introduction {
}

.home__introduction__information {
}

.home__introduction__information__greetings {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
}

.home__introduction__information__title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
}

.home__introduction__social {
}

.home__introduction__social__links {
}

.home__introduction__social__link {
  margin: 1rem 0;
}

.home__introduction__social__media {
}

.home__introduction__social__media__image {
}

.home__details {
  align-items: flex-start;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.home__details__media {
}

.home__details__media_image {
  width: auto;
  height: calc(100vh - 20rem);
}

.home__details__information {
}

.home__details__information__label {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
}

.home__details__information__description {
  font-size: var(--font-size-4);
  color: var(--has-color-medium-low);
  font-weight: var(--font-weight-normal);
  max-width: 40rem;
}

.home__background {
}

.home__background__text {
  position: absolute;
  top: 1rem;
  left: -3rem;
  font-size: 30rem;
  color: var(--has-color-dark-high);
  font-weight: var(--font-weight-bold);
  opacity: 0.02;
}
