$topicBoxOpacity: 0.5;

.navigation-container {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: red;
  left: 50%;
  transform: translateX(-50%);
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

.topic-box {
  width: 60%;
}

#coding-bar {
  height: 20rem;
  opacity: $topicBoxOpacity;
}

#design-bar {
  height: 22rem;
  opacity: $topicBoxOpacity;
}

#random-bar {
  height:18rem;
  opacity: $topicBoxOpacity;
}
