$colors: (
  primary: (
    high:     hsla(253, 64%, 56%, 1),
    medium:   hsla(253, 64%, 56%, 0.8),
    low:      hsla(253, 64%, 56%, 0.4),
    lowest:   hsla(253, 64%, 56%, 0.2),
  ),
  link: (
    high:     hsla(198, 64%, 56%, 1),
    medium:   hsla(198, 64%, 56%, 0.8),
    low:      hsla(198, 64%, 56%, 0.4),
    lowest:   hsla(198, 64%, 56%, 0.2),
  ),
  warning: (
    high:     hsla(29, 79%, 68%, 1),
    medium:   hsla(29, 79%, 68%, 0.8),
    low:      hsla(29, 79%, 68%, 0.4),
    lowest:   hsla(29, 79%, 68%, 0.2),
  ),
  danger: (
    high:     hsla(7, 76%, 57%, 1),
    medium:   hsla(7, 76%, 57%, 0.8),
    low:      hsla(7, 76%, 57%, 0.4),
    lowest:   hsla(7, 76%, 57%, 0.2),
  ),
  dark: (
    high:     hsla(226, 18%, 13%, 1),
    medium:   hsla(226, 18%, 13%, 0.8),
    low:      hsla(226, 18%, 13%, 0.4),
    lowest:   hsla(226, 18%, 13%, 0.2),
  ),
  medium: (
    high:     hsla(229, 15%, 22%, 1),
    medium:   hsla(229, 15%, 22%, 0.8),
    low:      hsla(229, 15%, 22%, 0.4),
    lowest:   hsla(229, 15%, 22%, 0.2),
  ),
  light: (
    high:     hsla(225, 18%, 86%, 1),
    medium:   hsla(225, 18%, 86%, 0.8),
    low:      hsla(225, 18%, 86%, 0.4),
    lowest:   hsla(225, 18%, 86%, 0.2),
  ),
);

//root css custom props
:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --has-color-#{$color}-#{$shade}: #{$value};
    }
  }
}

body {
  background-color: var(--has-color-dark-high);
}
