.danger-gradient {
  background: linear-gradient(180deg, #C33764 -10.54%, rgba(102, 71, 215, 0) 96.38%);
}

.warning-gradient {
  background: linear-gradient(180deg, #F5AF19 -10.54%, rgba(102, 71, 215, 0) 96.38%);
}

.link-gradient {
  background: linear-gradient(180deg, #22C1C3 -10.54%, rgba(102, 71, 215, 0) 96.38%);
}
