{{> navbar}}
<div class="home">
  <div class="container">
    <section class="mt-6">
      <div style="overflow: hidden;">
        <h1 class="rachel" id="hero-title" style="font-size: 4vw;">Prithviraj Mazumder</h1>
      </div>
      <h1 class="rachel is-5" style="font-style: italic;" id="hero-subtitle">UI/UX Designer | Front-end Developer</h1>
    </section>
  </div>


  <section class="navigation-container">
    <div class="container">
      <span class="topic-box">
        <div style="overflow: hidden;">
          <h1 class="soulmaze-outline is-3 top-box-title1" style="font-style: italic;">Portfolio</h1>
          <h1 class="topic-box-subtitle1 is-2 mb-2">Coding</h1>
        </div>
        <div class="danger-gradient" id="coding-bar">
        </div>
      </span>
      <span class="topic-box">
        <div style="overflow: hidden;">
          <h1 class="soulmaze-outline is-3 top-box-title2" style="font-style: italic;">Gallery</h1>
          <h1 class="topic-box-subtitle2 is-2 mb-2">Designs</h1>
        </div>
        <div class="warning-gradient" id="design-bar">
        </div>
      </span>
      <span class="topic-box">
        <div style="overflow: hidden;">
          <h1 class="soulmaze-outline is-3 top-box-title3" style="font-style: italic;">Collection</h1>
          <h1 class="topic-box-subtitle3 is-2 mb-2">Random</h1>
        </div>
        <div class="link-gradient" id="random-bar">
        </div>
      </span>
    </div>
  </section>
</div>
