{{> navbar}}
<div class="container">
  <section class="mt-6">
    <h1 class="rachel" style="font-size: 4vw;">Prithviraj Mazumder</h1>
    <h1 class="rachel is-5" style="font-style: italic;">UI/UX Designer | Front-end Developer</h1>
  </section>
</div>


<section class="navigation-container">
  <div class="container">
    <span class="topic-box">
      <h1 class="soulmaze-outline is-3" style="font-style: italic;">Portfolio</h1>
      <h1 class="is-2">Coding</h1>
      <div class="danger-gradient" id="coding-bar">
    </div>
    </span>
    <span class="topic-box">
      <h1 class="soulmaze-outline is-3" style="font-style: italic;">Gallery</h1>
      <h1 class="is-2">Designs</h1>
      <div class="warning-gradient" id="design-bar">
    </div>
    </span>
    <span class="topic-box">
      <h1 class="soulmaze-outline is-3" style="font-style: italic;">Collection</h1>
      <h1 class="is-2">Random</h1>
      <div class="link-gradient" id="random-bar">
    </div>
    </span>
  </div>
</section>
